.Login-background {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    background: #E5DFDF;
    padding-left: 30%;
    padding-right: 30%;
    min-height: 100vh;
}

.Login-rectangle {
    /* Rectangle 38 */
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-sizing: border-box;   
}

.username{
    margin-left: 15%;
    margin-top: 10%;
}

.user-input {
    margin-left: 15%;
    width: 70%;
}

.password{
    margin-left: 15%;
    margin-top: 5%;
}

.password-input {
    margin-left: 15%;
    width: 70%;
}

.login-buttons {
    margin: 5% 15% 10% 15%;
    text-align: center;
}

#login {
    background-color: #FF8282;
    margin-right: 5%;
    padding: 1% 10% 1% 10%;
    border: none;
    border-radius: 5px;
}

#forgot {
    border: none;
    padding: 1% 10% 1% 10%;
    border-radius: 5px;
}

.title-container {
    text-align: center;
}
.Login-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    
    color: #000000;
}

.Login-signup-box {
    margin: 10% 20% 10% 20%;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
}

#info {
    font-size: 12px;
    font-family: 'Roboto';
    font-style: normal;
}

#sign-up {
    border: none;
    background-color: #FFFFFF;
    font-size: 12px;
    color: #FF8282;
    font-weight: bold;

    font-family: 'Roboto';
    font-style: normal;
}