.section {
    display: grid;
    background: #E9E9E9;
    grid-template-columns: 1fr 7fr 1fr;
    font-family: 'Roboto';
    font-style: normal;
    width: 100vw;
    height: 100vh;
}

.my-help-posts {

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    background: #E9E9E9;
    min-height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    
    grid-column-start: 2;
    grid-column-end: 3;

}

.helppost-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    
    color: #000000;
}

#holder {
    height: 40%;
}

.resolved-button {
    font-family: 'Roboto';
    font-style: normal;
    border: none;
    border-radius: 8px;
    margin: 3%;
    padding: 1% 7% 1% 7%;
    background-color: #FF8282;

    color: #FFFFFF;
    font-size: 15px;
}