.Profile {
    display: grid;
    background: #E9E9E9;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Roboto';
    font-style: normal;
    width: 100vw;
    height: 100vh;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-family: 'Roboto';
    font-style: normal;

    color: #000000;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 0%;
    padding: 5% 10% 5% 10%;
}

.profile-button {
    width: 35%;
}

.analytics {
    font-size: 15px;
}

.middle-section {
    display: flex;
    flex-direction: column;
}

.help-posts {
    font-family: 'Roboto';
    font-style: normal;

    margin-top: 10%;
    margin-left: 10%;
    margin-right: 65%;

    border: none;
    border-bottom: 2px solid;
    border-color: #FF8282;
    background-color: transparent;

    font-size: 30px;
    color: #FF8282;
}

.post-section {
    background-color: white;

    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

    padding: 5%;
    height: 40%;

    font-size: 20px;
    border: 0.5px solid;
    border-color: #FF8282;
    border-radius: 15px;
}

.post-buttons {
    margin-top: 30%;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileName {
    margin-top: 20%;
    font-size: 25px;
}

.request {
    grid-column-start: 2;
    grid-column-end: 3;
    border-top: 1px solid;
    
    display: flex;
    justify-content: center;
}

.request-button {
    margin: 5%;
    padding: 0% 10% 0% 10%;

    border: none;
    border-radius: 10px;
    background-color: #FF0000;

    color: white;
    font-size: 20px;
    font-weight: bold;
}

